 body{
    padding:0;
    margin:0;
 }
          
 #wrapper{
    overflow: hidden;
    background-color: #fdfdfd;
}

/*      헤더      */

#header{
    position: relative;
     width: 100%;
    height: 85px;
    background-color: #50403f;
    margin: 0 auto;
    text-align: right;
}
             
.title{
     position: absolute;
     left:100px;
    color: antiquewhite;
    cursor: pointer;
    
}
          
.login{
    position: relative;
    right: 40px;
    border-style: none;
    background-color: #50403f;
    margin: 5px;
    color:antiquewhite;
    cursor: pointer;
}

#search{
    border-bottom: 1px solid black;
}


/*      네비게이션       */
            
#nav{
    position: relative;   
    width:100%;
    height: 40px;
    border-bottom: 1px solid black;
    background-color: #EBEBEB;
    text-align: right;
}
          
.btn{
    position: relative;
    right: 150px;
    top:7px;
    width: 80px;
    margin: 10px;
    cursor: pointer;
}

.btn:before{
    content: "|";
    padding-right: 15px; 
}

#nav span:nth-child(1):before{
    content: "";
}
          

/*      메인   */
          
#main{
    position: relative;
    width: 980px;        
    background-color: #EBEBEB;
    margin: 0 auto; 
    
}
          
#section, #section2{
    display: inline-block;
    margin: 30px;
    
}

#section3{
    display: inline-block;
    margin: 30px;
}

#section4, #section5{
    display: inline-block;
    margin: 30px;
}  



/*      푸터      */
         
#footer{     
    width: 85%;
    height: 65px;
    margin: 0 auto;
    background-color: #d8dcda;  
    text-align: center;
}

/*  슬라이드    */

ul,li{
    list-style:none;
}

#side > ul > li > img{
    position: absolute;
    top:-16px;
    overflow: hidden;
}

#side{
    position: relative;
    right: 170px;
    top:130px;
    width: 220px;
    height: 700px;
    border: 1px solid;
    float: right;
}
    















